{
  "swagger": "2.0",
  "host": "waiviodev.com/",
  "schemes": ["https"],
  "info": {
    "version": "0.0.1",
    "title": "Waivio auth service",
    "description": "Documentation for waivio auth service"
  },
  "basePath": "auth/",
  "paths": {
    "/facebook": {
      "post": {
        "tags": [
          "Auth"
        ],
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "access_token",
            "in": "body",
            "description": "facebook access_token",
            "type": "string",
            "required": true
          }],
        "responses": {
          "200": {
            "description": "User data",
            "examples": {
              "data": {"user": "user data" }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/validate_auth_token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "produces": [ "application/json" ],
        "description": "Send access-token in headers. If token expired and valid, a new access token will respond. Auth headers are: 'access-token, expires-in, waivio-auth",
        "parameters": [
          {
            "name": "access-token",
            "in": "headers",
            "description": "user access_token",
            "type": "string",
            "required": true
          }],
        "responses": {
          "200": {
            "description": "User data with auth headers",
            "examples": {
              "data": {"user": "user data" }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/guest_operations": {
      "post": {
        "tags": [
          "Operation"
        ],
        "produces": [ "application/json" ],
        "description": "Transport to waivio services guest actions",
        "parameters": [
          {
            "name": "access-token",
            "in": "headers",
            "description": "user access_token",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "body",
            "description": "action type key",
            "type": "string",
            "example": "waivio_guest_follow",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "description": "data of request",
            "type": "string",
            "example": {"data":{"some_key":"some_value"}},
            "required": true
          },
          {
            "name": "userName",
            "in": "body",
            "description": "user name",
            "type": "string",
            "required": false
          }],
        "responses": {
          "any_status": {
            "description": "Any data from services",
            "examples": {
              "data": {"user": "user data" }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/has_social_account": {
      "get": {
        "tags": [
          "Auth"
        ],
        "produces": [ "application/json" ],
        "description": "Check demo user authorize",
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "id of social account",
            "type": "string",
            "example": "32545223563474356",
            "required": true
          },
          {
            "name": "provider",
            "in": "body",
            "description": "user provider",
            "type": "string",
            "example": "facebook",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "data": {"user": "user data" }
            }
          }
        }
      }
    }
  },
  "definitions": {
  }
}
